@model KeyAcess01.Models.Residente

@{
    ViewData["Title"] = "Delete";
}

<h1>Remover</h1>

<h3>Certeza que deseja remover esse residente?</h3>
<div>
    <h4>Residente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apartamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apartamento.NmrApartamento)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index">Voltar</a>
    </form>
</div>
