@model IEnumerable<KeyAcess01.Models.Visitante>

@{
    ViewData["Title"] = "Index";
}

<h2>Visitantes</h2>

<p>
    <a class="btn btn-info" asp-action="Create">Adicionar Visitante</a>
    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index">Voltar para a Home</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HrrEnt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HrrSaid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apartamento.NmrApartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HrrEnt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HrrSaid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Ver</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
